.tabla{
    display: flex;
    flex-direction: column;
    color:white;
    text-align: center;
}
.tabla button{
    position: relative;
}
.imagens{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

/* .posicion{
    top: 25%;
}
 */


